<%= form_for note, remote: true do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :note_title, class: "form-control", placeholder: "Enter the title for note" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :note_description, class: "form-control pad", placeholder: "Well...Start note taking" %>
    <div class="card mb-3 mt-3" >
      <div class="card-header">Preview Description</div>
      <div class="card-body" id="markdown">
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="hidden" placeholder="Labels" class="form-control" name="labels" id="labelList">
    <div class="tag-list mt-3">
    </div>
  </div>

  <div class="form-group">
    <%= form.file_field :image %>
  </div>

  <div class="btn-group dropright mb-3">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Labels
    </button>
    <div class="dropdown-menu">
      <% labels.each do |label| %>
        <%= link_to label.name, "", class: "dropdown-item label-item" %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
