<div class="card text-center mt-5">
  <div class="card-header">
    By <%= note.user.email %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= note.title %></h5>
    <img style="width: 400px;" src="<%= note.image %>" alt="">
    <p class="mt-5">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse_<%= note.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        View Note
      </a>
      <%= link_to 'Delete Note', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <%= link_to 'Edit Note', edit_note_path(note), class: "btn btn-success" %>
    </p>
    <div class="collapse mb-3" id="collapse_<%= note.id %>">
      <div class="card card-body">
        <%= markdown(note.description) %>
      </div>
    </div>
    <% note.labels.each do |label| %>
      <span class="badge badge-pill badge-info mr-3"><%= label.name %></span>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <%= time_ago_in_words(note.created_at) %>
  </div>
</div>