<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">
      Welcome to the Notes App
    </div>
    <div class="card-body">
      <h5 class="card-title">Log In</h5>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autocomplete: "false", placeholder: "Enter Email Id" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "false", placeholder: "Enter Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-secondary" %>
        </div>
      <% end %>

    </div>
    <div class="card-footer text-muted">
      <%= render "devise/shared/links" %>
    </div>

  </div>

</div>

